# Secrets
config.yaml

# Python
__pycache__/
*.py[cod]

# Envs
.env
.venv
*.env

# IDE
.vscode/
.idea/

# Cache Files
.cache/

# Memory Files
*.pkl

# Output Files
outputs/

# Ignore old, broken and experimental code
broken/
legacy/
experimental/

# Jupyter
.ipynb_checkpoints

# Ignore everything inside data/
/research-assistant/data/*

# But keep the data/ folder itself
!/research-assistant/data/.gitkeep
